<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.darryncampbell.genericscanwedge.genericscanwedge">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <service
            android:name=".GenericScanWedgeService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".GenericScanWedgeIntentReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.symbol.datawedge.api.ACTION_SOFTSCANTRIGGER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.symbol.datawedge.api.ACTION_SCANNERINPUTPLUGIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.symbol.datawedge.api.ACTION_ENUMERATESCANNERS" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.symbol.datawedge.api.ACTION_SETDEFAULTPROFILE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.symbol.datawedge.api.ACTION_RESETDEFAULTPROFILE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.symbol.datawedge.api.ACTION_SWITCHTOPROFILE" />
            </intent-filter>
        </receiver>

        <activity android:name="com.darryncampbell.genericscanwedge.genericscanwedge.ZxingActivity" />
        <activity android:name="com.darryncampbell.genericscanwedge.genericscanwedge.GoogleVisionBarcodeActivity" />
        <activity android:name="com.darryncampbell.genericscanwedge.genericscanwedge.GoogleVisionBarcode.BarcodeCaptureActivity"
            android:label="Read Barcode"/>

        <activity
            android:name="com.darryncampbell.genericscanwedge.genericscanwedge.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.darryncampbell.genericscanwedge.genericscanwedge.ProfileConfiguration"
            android:label="@string/title_activity_profile_configuration"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>